
/* 1.fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.offcanvas-body{
  
}

.navbar-toggler-icon{
  font-size: 30px;
  color: black;
  outline: none;
}

.navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

.navbar-brand{
  font-size: 23px;
  font-weight: bold;
  color: white;
  
}

.navbar-nav a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.navbar-nav a:hover{
color: rgb(235, 42, 42);
}

.btn1{
  height: 45px;
  border: none;
  outline: none;
  color: black;
  background-color: rgba(255, 255, 255,  0.657);
  font-weight: 500;
  z-index: 1;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.btn1::before,.btn1::after{
  position: absolute;
  content: "";
  z-index: -1;
}

.btn1::after{
  height: 0;
  top: 0;
  left: 0;
  transition-duration: 0.6s;
  width: 100%;
}

.btn1:hover::after{
height: 100%;
background-color: rgba(255, 255, 255,  0.557);



}






