{% extends 'base/base.html' %}
{% load static %}



{% block content %}


<section id="about" class="" style="padding-top: 80px;">
    <div class="about-1 ">
        <h2 class="text-uppercase m-auto">about us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Repellendus ut voluptas iste vel. 
            Sed nostrum et fugiat sint nobis quis dolores dignissimos necessitatibus cum deserunt. 
            Voluptatem corrupti qui nisi eos!, Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Repellendus ut voluptas iste vel. 
            Sed nostrum et fugiat sint nobis quis dolores dignissimos necessitatibus cum deserunt. 
            Voluptatem corrupti qui nisi eos!</p>
    </div>
    <div class="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-items text-center">
                            <i class="fa fa-book"></i>
                            <h3>MISSION</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cumque dignissimos soluta exercitationem excepturi dicta assumenda!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-items text-center">
                            <i class="fa fa-globe"></i>
                            <h3>VISION</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cumque dignissimos soluta exercitationem excepturi dicta assumenda!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-items text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>ACHEIVMENTS</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Cumque dignissimos soluta exercitationem excepturi dicta assumenda!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}