{% extends 'base/base.html' %}
{% load static %}


{% block content %}
    <section class="contact-head pb-5" style="padding-top: 80px;">
        <div class="container py-5">
            <div class="card">
                <div class="card-body rounded shadow">
                    <h2 class="text-center fw-medium py-3 text-black">Contact Us</h2>
                    <div class="row">
                       <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="row pt-3">
                           <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2">
    
                           </div>
                           <div class="col-lg-10  col-md-9 col-sm-9 col-9  ">
                             <h1 class="fw-bold  text-black-50">Find Us</h1>
                             <p>Near Business Park,<br>
                                Kozhikode, Kerala,<br>
                                India.
                             </p>

                           </div>

                        </div>

                        <div class="row pt-3">
                          <div class="col-lg-1 offset-1 col-md-2 col-sm-2 col-2 ">
   
                          </div>
                          <div class="col-lg-10  col-md-9 col-sm-9 col-9  ">
                            <h1 class=" fw-bold  text-black-50">Giving us a ring</h1>
                            <p>Michel Clerk,<br>
                               +40 762 834 342,<br>
                               Mon-Fri, 8:00 - 12:00.
                            </p>

                          </div>

                       </div>

                       
                       </div>

                       
                       <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                        <form>
                          <div class="form-row row">
                             <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                                 <label>First Name</label>
                                 <input type="text" class="form-control" placeholder="First Name">
                             </div>
                             <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                              <label>Last Name</label>
                              <input type="text" class="form-control" placeholder="Last Name">
                             </div>
                          </div>

                          <label>Email</label>
                          <input type="email" class="form-control" placeholder="Email">

                          <label>Your Message</label>
                          <textarea class="form-control mb-3" placeholder="Message"  id="" cols="10" rows="5"></textarea>
                          <input type="checkbox"><label> I'm not robert  </label> <button class="btn btn-primary float-right">Send Message</button>
                        </form>
                       </div>
                         
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}